.video-player-wrapper {
    max-height: 100%;
}

/* .volumeKnob, .volumeValue {
    background-color: red !important;
  }

vg-overlay-play div {
    color: red !important;
}

vg-fullscreen, vg-mute, vg-time-display, vg-playback-button {
color: red !important;
} */